@using TodoWEB.Models
@using Paginator.Abstract
@{
    var creator = (IPageCreator)ViewBag.PageCreator;
    var pagingInfo = (PagingInfo)ViewBag.PagingInfo;
}
<div class="panel-footer text-center">
    @creator.CreatePages(pagingInfo.ItemsPerPage, pagingInfo.CurrentPage, pagingInfo.TotalItems,x => Url.Action("List", new {page = x}))
</div>
