@model IEnumerable<TodoDAL.Models.Todo>
@{
    ViewBag.Title = "Список задач";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <input type="text"/>
        @Ajax.ActionLink("Добавить", "Add", null, new AjaxOptions()
        {
            Url = Url.Action("Add"),
            UpdateTargetId = "todoPanel"
        }, new {@class = "btn btn-success btn-sm pull-right"})
    </div>
    <div class="panel-body" id="todoPanel">
        <table class="table table-hover" id="todoTable">
            <tr>
                <th></th>
                <th>Описание</th>
                <th>Дата выполнения</th>
                <th>Действие</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@item.Description</td>
                    <td>@item.CompletionDate.ToShortDateString()</td>
                    <td><button class="btn btn-danger btn-xs"></button></td>
                </tr>
            }
        </table>
    </div>
</div>

